.price {
    height: 639px;
    width: 269px;
    margin: 52px 103px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.price-card {
    height: 90%;
    width: 100%;
    background-color: antiquewhite;
}

ul {
    list-style-type: none;
    text-align: left;
    margin: 50px 0;
}

.button {
    height: 30px;
    width: 115px;
    margin: 47px 0;
    border-radius: 20px;
    background-color: rgb(93, 83, 205);;
}

.button:hover{
    background-color: rgb(64, 48, 238);;
}